Hardware/History/*
Hardware/__Previews/*
Hardware/Model/*
Hardware/Project Logs for Pigeon/*
Hardware/Project Outputs for Pigeon/*
Firmware/Pigeon/build/*
Firmware/Pigeon/bin/*
Firmware/prototype/build/*
Firmware/prototype/bin/*
Tools/*